body {
	background-color: rgb(228, 231, 236);
}
.header {
	height: 100vh;
}
/* .sidepic{
	width:20vh;
	position:relative;
	left:4%;
} */

.intro {
	height: 50vh;
	background-image: url('https://media.giphy.com/media/ko7twHhomhk8E/giphy.gif');
	background-size: cover;
	background-repeat: no-repeat;
}

/* height: 40vh;
    padding:0;
    margin:0; */

/* background-image:url("https://giphy.com/embed/doXBzUFJRxpaUbuaqz");
    background-size:cover;
} */
i{
	font-size: xx-large;
	color: blueviolet;
}

.info {
	box-shadow: blueviolet;
}
#pic{
	height:33vmin;
	width:19%;
	border-radius: 50%;
	margin-top:-15%"
}
/* .aboutMe {
	/* height: 100vh; */

.about {
	background-color: white;
	padding: 2%;
}
.skills {
	margin-top:2%;
}
.myskills {
	display: flex;
	justify-content: center;
}
.hard {
	background-color: white;
	padding: 2%;
	/* margin-left:2%; */
}
.soft {
	background-color: white;
	padding:2%;
	margin-left:2%;
}
progress{
    width:90%
}

.con{
	background-color: white;
	margin-left:2%;
}
form{
	text-align: center;
	margin-top:2%;
}
input{
	border:none;
	border-bottom: 1px solid;
	font-size:medium;

}

::placeholder{
	font-style: italic;

}
.tech{
	border:1px solid;
	padding-right: 1%;
	padding-left:1%;
}

.des{
	border: 1px dotted;
	border-radius: 3rem;
	background-color: blueviolet;
	color:white;
	padding-left: 3%;
	padding-right: 3%;

}
.dark-mode{
	background-color: yellow;
	 color:white; 
}

@media only screen and (max-width: 1300px) {
	.header {
		height: 55vh;
	}
	.intro {
		height: 20vh;
		background-image: url('https://media.giphy.com/media/ko7twHhomhk8E/giphy.gif');
		background-size: cover;
		background-repeat: no-repeat;
	}
	#pic{
		height: 33vmin;
		width:30%;
		border-radius: 50%;
		margin-top: -14%;	
	}
	
  }
@media screen  and (min-width:1366px){
	
	#pic{
		height:300px;
		width:50vmin;
		border-radius:50%;
		margin-top:-15%;
		/* background-color:yellow; */


	}
	/* height:33vmin;width:30%;border-radius: 50%;margin-top:-14% */
	
}

.sidepanel {
	height: 100vh; /* Specify a height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0;
	left: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
	color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
	position: fixed;
  }
  
  .openbtn:hover {
	background-color: #444;
  }